body{
  font-family: Montserrat;
}
a {
  text-decoration: none;
  color: #8f8f8f;
}

hr {
  margin: 0 0 0.2rem 0;
}


.cv {

  margin: 10px 10% 10px 10%;
}

.section-2 {
  padding: 20px 0 0 auto;
  margin-left: 0px;
  
}

.section-2 p {
  text-align: justify;
}

.personal-details {
  color: white;
  text-align: center;
}

.name{
  font-size: 2rem;
  font-weight: 300;
}


.qualification{
  font-size: 1.2rem;
  font-weight: 200;
}

.job{
  font-size: 1rem;
  font-weight: 300;
}


.picture{
  margin: auto;
  text-align: center;
}
.photo {
  border-radius: 50%;
  border: solid 3px white;
  width: 130px;
  height: 140px;


}

.heading {
  background-color: #214151;

}

.personal-details{
  margin: auto;
  font-weight: 300;
}



.features {
  margin: 20px 0px auto 0px;
}

.section-1 {
  margin: 20px 0px auto 0px;
  padding: 0;
}



.skills{
  margin-top: 0;
}

.fab, .far{
  color:green;
}

.foot{
  margin-top: 20px;
}

.hobbies{
  margin: 0px 0px auto 0px;
  padding: 0;

}
