body {
  font-family: Montserrat, sans-serif;
  ;
}

a {
  text-decoration: none;
  color: #8f8f8f;
}

hr {
  margin: 0 0 0.2rem 0;
}

.cv {
  margin: 10px 10% 10px 10%;
}

.section-2 {
  padding: 0;
  margin-left: 0px;
}

.section-2 p {
  text-align: justify;
}

.personal-details {
  color: white;
  text-align: center;
  height: 140px;
  margin: auto;
}

.name {
  font-size: 2em;
  font-weight: 300;
}

.qualification {
  font-size: 1.2em;
  font-weight: 200;
  margin-top: 10px;
}

.job {
  font-size: 1em;
  font-weight: 300;
  margin-top: 10px;
}

.mobile {
  margin-bottom: 0;
  margin-top: 10px;
}

.picture {
  margin: 20px auto 20px auto;
  text-align: center;
}

.photo {
  border-radius: 50%;
  border: solid 3px white;
  width: 130px;
  height: 140px;
}

.heading {
  background-color: #214151;
}

.personal-details {
  margin: auto;
  font-weight: 300;
}

.features {
  margin: 20px 0px auto 0px;
}

.section-1 {
  margin: 20px 0px auto 0px;
  padding: 0;
}

.skills {
  margin-top: 0;
}

.web-development {
  margin-bottom: 19.2px;
}

.software {
  margin-bottom: 19.2px;
}

.fab, .far {
  color: green;
}

.foot {
  margin-top: 20px;
}

.hobbies {
  margin: 0px 0px auto 0px;
  padding: 0;
}

.miscellaneous {
  padding: 0
}

@media (min-width: 420px) {
  .hobbies hr {
    margin-right: 30px;
  }

  .section-1 hr {
    margin-right: 30px;
  }
}

@media (max-width: 420px) {
  body{
    font-size: 2rem;
  }

  .heading{
    height: 500px;
  }
  .personal-details{
    margin-top: 0;
    position: relative;
    bottom: 90px;
  }
  .picture{
    height: 150px;
  }
  .foot {
    margin-top: 0;
  }

  .hobbies {
    position: relative;
    top: 230px;
  }

  .miscellaneous {
    position: relative;
    bottom: 163.4px;
    margin-top: 10px
  }

}
